/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Main Styling */
html, body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(250, 250, 250);
}

h2, h4 {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #333;
}

.bg-light {
  background-color: lightseagreen;
}

.bg-dark {
  background-color: lightskyblue;
}

/* Mobile */
#main-nav {
  display: block;
  text-align: center;
  background-color: lightseagreen;
}

#main-nav .container {
  padding: 20px;
}

#main-nav h1 {
  padding-bottom: 1rem;
  color: white;
}

#main-nav li {
  list-style: none;
  margin: 5px;
  background-color: white;
  padding: 10px;
  color: gray;
}

#main-nav a {
  text-decoration: none;
  color: #333;
}

/* About Section */

#about {
  text-align: center;
  margin: 2rem;
}

#about img {
  max-width: 100%;
  max-height: 100%;
}

#about div {
  padding-bottom: 2rem;
  color: gray;
}

/* Portfolio Section */

#portfolio {
  background-color: white;
  text-align: center;
}

#portfolio .title {
  font-weight: bold;
  padding-top: 50px;
}

#portfolio img {
  max-width: 100%;
  max-height: 100%;
}

#portfolio h3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

#portfolio .item {
  padding: 40px 50px;
}

/* STATS */
#stats h2 {
  text-align: center;
  padding: 40px 0;
}

#stats .container {
  display: block;
  text-align: center;
  padding: 0;
}

#stats div {
  padding: 50px;
  width: 100%;
}

#stats i {
  padding-bottom: 20px;
  color: yellow;
}

#stats h3 {
  padding-bottom: 20px;
  color: white;
}

#stats p {
  font-size: 3rem;
  color: white;
}


/* Contact Section */

#contact {
  text-align: center;
  padding: 2rem;
}

#contact h2 {
  padding: 50px;
}

#contact p {
  padding-bottom: 30px;
}

#contact div p span {
  font-weight: bold;
}

/* Footer */

#footer {
  margin: 1rem;
  border-top: 1px solid lightgray;
}

#footer ul {
  display: none;
}

#footer .container {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}



@media screen and (min-width: 768px) and (max-width: 1024px){

  /* Main Nav */
  #main-nav ul {
    display: inline-flex;
    text-align: center;
  }

  #main-nav a li {
    background-color: rgb(250, 250, 250);
    color: gray;
  }

  /* About Section */
  #about .container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  #about div {
    height: 30vh;
  }

  #about .bio {
    width: 60%;
    color: gray;
    padding-top: 60px;
  }

  #about .profile_img {
    width: 50%;
  }

  /* Portfolio Section */
  #portfolio .container{
    display: flex;
    flex-flow: row wrap;
    margin: 15px;
  }

  #portfolio .item {
    width: 50%;
    padding: 40px 5px;
  }

  /* STATS */
  #stats .container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  #stats div {
    padding: 50px;
    width: 50%;
  }

  .flex-item:nth-of-type(1) { order: 1; }
  .flex-item:nth-of-type(2) { order: 2; }
  .flex-item:nth-of-type(3) { order: 4; }
  .flex-item:nth-of-type(4) { order: 3; }

  /* Footer */
  #footer .back_to_top {
    display: none;
  }

  #footer ul {
    display: flex;
    list-style: none;
  }

  #footer li {
    padding: 0 15px;
  }

  #footer li:last-child {
    padding-right: 0;
  }

}

@media screen and (min-width: 1024px) {
  /* Main Nav */
  #main-nav .container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  #main-nav .logo {
    padding-top: 10px;
  }

  #main-nav ul {
    display: flex;
  }

  #main-nav a li {
    background-color: rgb(250, 250, 250);
  }

  /* About Section */
  #about .container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 300px;
  }

  #about .bio {
    font-size: 20px;
    width: 60%;
    color: gray;
    padding-top: 60px;
  }

  #about .profile_img {
    width: 50%;
    height: 100%;
  }

  /* Portfolio Section */
  #portfolio .container{
    display: flex;
    flex-flow: row wrap;
    margin: 15px;
  }

  #portfolio .item {
    width: 33%;
    padding: 40px 5px;
  }

  /* STATS */

  #stats .container {
    display: flex;
    width: 100%;
  }

  #stats div {
    padding: 50px;
    width: 50%;
  }

  /* Contact */

  #contact .contact_desc {
    margin: 0 200px;
  }

  /* Footer */
  #footer .back_to_top {
    display: none;
  }

  #footer ul {
    display: flex;
    list-style: none;
  }

  #footer li {
    padding: 0 15px;
  }

  #footer li:last-child {
    padding-right: 0;
  }

}